<!DOCTYPE html>
<html>
    <head>
       <title>Dojo page</title>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      
      <form action='' method='post'>
          Name: <input type='text' name='name'>
          Email: <input type='text' name='email'>
          <input type='submit' value='create user'>
      </form>

      <a href="/">click here for home page</a>

    </body>
</html>
