<!DOCTYPE html>
<html lang="en">
    <head>
        <title>website with a form </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>Enter name below</p>
        <form action='/process' method='post'>
            first name: <input type='text' name='first_name'>
            last name: <input type='text' name='last_name'>
            <input type='submit' value='create user'>
        </form>
    </body>
    
</html>