*{
	margin: 0;
	padding: 0;
	outline: 1px dotted black;
}

#wrapper{
	width: 100%;
	height: 100%
	margin: 0 auto;
	padding: 10px;
}

#pokemon{
	margin: 3px;
	border: 2px solid black;
	background-color: #20B2AA;
}