<!DOCTYPE html>
<html>
        <head>
          <title>Friends</title>
        </head>
        <body>

{{ all_friends }}
<h1>These are all my friends!</h1>

{% for friend in all_friends: %}
   <p>ID: {{ friend['id'] }}</p>
   <p>Name: {{ friend['name'] }}</p>
   <p>Age: {{ friend['age'] }}</p>
   <hr>
{% endfor %}

          <h2>Add a Friend</h2>
          <form action='/friends' method='POST'>
            <label for="name">Name:<input type="text" name="name" id="name"></label>
            <label for="age">Age:<input type="text" name="age" id="age"></label>
            <input type="submit" value="Add">
          </form>
        </body>
        </html>
        